Repository dynamoose/dynamoose, changes with the labels that .github/labeler.yml gives for each.
All labels: changed:source, changed:tests, changed:website, changed:documentation, changed:publish, changed:project

Fixing “ExpressionAttributeValues must not be empty” error on Model.update $REMOVE
  lib/Model/index.ts
Labels: changed:source

Updating tests for “ExpressionAttributeValues must not be empty” error on Model.update $REMOVE
  test/Model.js
Labels: changed:tests

Updating tests for “ExpressionAttributeValues must not be empty” error on Model.update $REMOVE
  test/Model.js
Labels: changed:tests

Fixing test from merging master in
  test/Model.js
Labels: changed:tests

Fixing test from merging master in
  test/Model.js
Labels: changed:tests

Bumping version to 2.1.2
  package-lock.json
  package.json
Labels: changed:project

Bumping version to 2.1.2
  package-lock.json
  package.json
Labels: changed:project

Adding changelog for 2.1.2
  CHANGELOG.md
Labels: changed:project

Adding changelog for 2.1.2
  CHANGELOG.md
Labels: changed:project

#870 | Add breaking change note to v2.0.0 - string attributes no longer implicitly converted.
  CHANGELOG.md
Labels: changed:project

#870 | Add breaking change note to v2.0.0 - string attributes no longer implicitly converted.
  CHANGELOG.md
Labels: changed:project

Setting no timeout for debug testing
  package.json
Labels: changed:project

Setting no timeout for debug testing
  package.json
Labels: changed:project

Adding .vscode/launch.json to improve debugging in VSCode
  .vscode/launch.json
Labels: none

Adding .vscode/launch.json to improve debugging in VSCode
  .vscode/launch.json
Labels: none

Adding Vercel badge to README
  README.md
Labels: changed:project

Adding Vercel badge to README
  README.md
Labels: changed:project

Adding Vercel referral tag
  README.md
Labels: changed:project

Adding Vercel referral tag
  README.md
Labels: changed:project

Fixing issue where single object with Model.update and rangeKey wouldn’t set correct key
  lib/Model/index.ts
Labels: changed:source

Fixing issue where single object with Model.update and rangeKey wouldn’t set correct key
  lib/Model/index.ts
Labels: changed:source

Adding tests to ensure Model.update with rangeKey works correctly
  test/Model.js
Labels: changed:tests

Adding tests to ensure Model.update with rangeKey works correctly
  test/Model.js
Labels: changed:tests

Bumping version to 2.1.3
  package-lock.json
  package.json
Labels: changed:project

Bumping version to 2.1.3
  package-lock.json
  package.json
Labels: changed:project

Adding changelog for 2.1.3
  CHANGELOG.md
Labels: changed:project

Adding changelog for 2.1.3
  CHANGELOG.md
Labels: changed:project

Fixing an issue where document.original would return DynamoDB object in some cases
  lib/Document.ts
Labels: changed:source

Fixing an issue where document.original would return DynamoDB object in some cases
  lib/Document.ts
Labels: changed:source

Adding tests to ensure document.original won’t return DynamoDB object
  test/Document.js
Labels: changed:tests

Adding tests to ensure document.original won’t return DynamoDB object
  test/Document.js
Labels: changed:tests

Passing original value into set function
  lib/Document.ts
Labels: changed:source

Passing original value into set function
  lib/Document.ts
Labels: changed:source

Adding tests for passing original object into set function
  test/Document.js
Labels: changed:tests

Adding tests for passing original object into set function
  test/Document.js
Labels: changed:tests

Adding documentation for second parameter for set function
  docs/docs/guide/Schema.md
Labels: changed:documentation

Adding documentation for second parameter for set function
  docs/docs/guide/Schema.md
Labels: changed:documentation

Migrating from AttributesToGet to ProjectionExpression
  lib/DocumentRetriever.ts
Labels: changed:source

Migrating from AttributesToGet to ProjectionExpression
  lib/DocumentRetriever.ts
Labels: changed:source

Modifying tests to switch from AttributesToGet to ProjectionExpression
  test/Query.js
  test/Scan.js
Labels: changed:tests

.github/labeler.yml:

changed:source: lib/**/*
changed:tests: test/**/*
changed:website:
  - docs/*
  - docs/src/**/*
  - docs/static/**/*
changed:documentation: docs/docs/**/*
changed:publish: publish/**/*
changed:project:
  - "*"
  - internal/**/*
  - .github/**/*
