Repository dynamoose/dynamoose, changes with the labels that .github/labeler.yml gives for each.
All labels: changed:source, changed:tests, changed:website, changed:documentation, changed:publish, changed:project

.github/labeler.yml:

changed:source: lib/**/*
changed:tests: test/**/*
changed:website:
  - docs/*
  - docs/src/**/*
  - docs/static/**/*
changed:documentation: docs/docs/**/*
changed:publish: publish/**/*
changed:project:
  - "*"
  - internal/**/*
  - .github/**/*

Adding support for query.sort
  lib/DocumentRetriever.ts
  lib/General.ts
Labels: changed:source

Adding support for query.sort
  lib/DocumentRetriever.ts
  lib/General.ts
Labels: changed:source

Adding tests for query.sort
  test/Query.js
Labels: changed:tests

Adding tests for query.sort
  test/Query.js
Labels: changed:tests

Adding documentation for query.sort
  docs/docs/guide/Query.md
Labels: changed:documentation

Adding documentation for query.sort
  docs/docs/guide/Query.md
Labels: changed:documentation

Updating labels
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/workflows/cron.yml
Labels: changed:project

Updating labels
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/workflows/cron.yml
Labels: changed:project

Fixing document tests to not initalize model at test runtime
  test/Document.js
Labels: changed:tests

Fixing document tests to not initalize model at test runtime
  test/Document.js
Labels: changed:tests

Adding support for only passing name into dynamoose.model
  lib/index.ts
Labels: changed:source

Adding support for only passing name into dynamoose.model
  lib/index.ts
Labels: changed:source

Adding tests for only passing name into dynamoose.model
  test/Model.js
Labels: changed:tests

Adding tests for only passing name into dynamoose.model
  test/Model.js
Labels: changed:tests

Adding documentation for only passing name into dynamoose.model
  docs/docs/guide/Model.md
Labels: changed:documentation

Adding documentation for only passing name into dynamoose.model
  docs/docs/guide/Model.md
Labels: changed:documentation

Adding Algolia DocSearch to website
  docs/docusaurus.config.js
Labels: changed:website

Adding Algolia DocSearch to website
  docs/docusaurus.config.js
Labels: changed:website

Updating dependencies
  package-lock.json
  package.json
Labels: changed:project

Updating dependencies
  package-lock.json
  package.json
Labels: changed:project

Updating website dependencies
  docs/package-lock.json
  docs/package.json
Labels: changed:website

Updating website dependencies
  docs/package-lock.json
  docs/package.json
Labels: changed:website

Updating tests to try to prevent random failures
  test/Query.js
  test/Scan.js
Labels: changed:tests

Updating tests to try to prevent random failures
  test/Query.js
  test/Scan.js
Labels: changed:tests

Model.waitForActive.check should have been optional
  lib/Model/index.ts
Labels: changed:source

Fixing issue where multiple indexes would fail to be created
  lib/Model/index.ts
Labels: changed:source

Fixing issue where multiple indexes would fail to be created
  lib/Model/index.ts
Labels: changed:source

Updating tests to ensure multiple indexes get created correctly
  test/Model.js
Labels: changed:tests

Updating tests to ensure multiple indexes get created correctly
  test/Model.js
Labels: changed:tests

Fixing lint errors
  lib/Model/index.ts
Labels: changed:source

Fixing lint errors
  lib/Model/index.ts
Labels: changed:source

Fixing bug where Model.update $REMOVE wouldn’t work with saveUnknown
  lib/Model/index.ts
Labels: changed:source

Fixing bug where Model.update $REMOVE wouldn’t work with saveUnknown
  lib/Model/index.ts
Labels: changed:source

Adding tests for Model.update $REMOVE with saveUnknown
  test/Model.js
Labels: changed:tests

Adding tests for Model.update $REMOVE with saveUnknown
  test/Model.js
Labels: changed:tests

Bumping version to 2.1.1
  package-lock.json
  package.json
Labels: changed:project

Bumping version to 2.1.1
  package-lock.json
  package.json
Labels: changed:project

Adding changelog for 2.1.1
  CHANGELOG.md
Labels: changed:project

Adding changelog for 2.1.1
  CHANGELOG.md
Labels: changed:project

Fixing “ExpressionAttributeValues must not be empty” error on Model.update $REMOVE
  lib/Model/index.ts
Labels: changed:source
