Repository dynamoose/dynamoose, changes with the labels that .github/labeler.yml gives for each.
All labels: changed:source, changed:tests, changed:website, changed:documentation, changed:publish, changed:project

.github/labeler.yml:

changed:source: lib/**/*
changed:tests: test/**/*
changed:website:
  - docs/*
  - docs/src/**/*
  - docs/static/**/*
changed:documentation: docs/docs/**/*
changed:publish: publish/**/*
changed:project:
  - "*"
  - internal/**/*
  - .github/**/*

Modifying tests to switch from AttributesToGet to ProjectionExpression
  test/Query.js
  test/Scan.js
Labels: changed:tests

Adding note about using ProjectionExpression to documentation
  docs/docs/guide/Query.md
  docs/docs/guide/Scan.md
Labels: changed:documentation

Adding note about using ProjectionExpression to documentation
  docs/docs/guide/Query.md
  docs/docs/guide/Scan.md
Labels: changed:documentation

Adding support for only retrieving certain attributes in Model.get
  lib/Model/index.ts
Labels: changed:source

Adding support for only retrieving certain attributes in Model.get
  lib/Model/index.ts
Labels: changed:source

Adding tests for only retrieving certain attributes in Model.get
  test/Model.js
Labels: changed:tests

Adding tests for only retrieving certain attributes in Model.get
  test/Model.js
Labels: changed:tests

Adding documentation for only receiving certain attributes in Model.get
  docs/docs/guide/Model.md
Labels: changed:documentation

Adding documentation for only receiving certain attributes in Model.get
  docs/docs/guide/Model.md
Labels: changed:documentation

export Document
  lib/index.ts
Labels: changed:source

redefine model
  lib/Document.ts
  lib/index.ts
Labels: changed:source

change export
  lib/index.ts
Labels: changed:source

Throwing errors for invalid indexes & keys
  lib/Schema.ts
Labels: changed:source

Throwing errors for invalid indexes & keys
  lib/Schema.ts
Labels: changed:source

Adding tests for throwing errors for invalid indexes & keys
  test/Schema.js
Labels: changed:tests

Adding tests for throwing errors for invalid indexes & keys
  test/Schema.js
Labels: changed:tests

correct type for get and new
  lib/Document.ts
  lib/Model/index.ts
  lib/index.ts
Labels: changed:source

missing space
  lib/index.ts
Labels: changed:source

retyped query and scan
  lib/Condition.ts
  lib/DocumentRetriever.ts
Labels: changed:source

remove this param from functions, retype all model function, more granularity for SCAN and QUERY
  lib/Document.ts
  lib/DocumentRetriever.ts
  lib/Model/index.ts
Labels: changed:source

Fix local secondary indices being created as HASH keys
  lib/Schema.ts
  test/Schema.js
Labels: changed:source, changed:tests

Fix local secondary indices being created as HASH keys
  lib/Schema.ts
  test/Schema.js
Labels: changed:source, changed:tests

add eslint rules
  .eslintrc.js
  package-lock.json
  package.json
Labels: changed:project

husky and lint-staged test
  package.json
  publish/index.js
  test/Model.js
Labels: changed:tests, changed:publish, changed:project

add more granular lint rules
  .eslintrc.js
  lib/Condition.ts
  lib/Document.ts
  lib/DocumentRetriever.ts
  lib/Model/defaults.ts
  lib/Model/index.ts
  lib/Schema.ts
  lib/Transaction.ts
  lib/aws/ddb/internal.ts
  lib/utils/dynamoose/index_changes.ts
  publish/index.js
  publish/information/retrieve.js
  test/Document.js
  test/Model.js
  test/Query.js
  test/Scan.js
  test/Schema.js
  test/Transaction.js
  test/utils/dynamoose/index_changes.js
  test/utils/timeout.js
Labels: changed:source, changed:tests, changed:publish, changed:project

Adding Infrastructure Providers to website footer
  docs/docusaurus.config.js
Labels: changed:website

Adding Infrastructure Providers to website footer
  docs/docusaurus.config.js
Labels: changed:website

Bumping version to 2.2.0
  package-lock.json
  package.json
Labels: changed:project

Bumping version to 2.2.0
  package-lock.json
  package.json
Labels: changed:project

Adding changelog for 2.2.0
  CHANGELOG.md
Labels: changed:project

Adding changelog for 2.2.0
  CHANGELOG.md
Labels: changed:project

Update .eslintrc.js
  .eslintrc.js
Labels: changed:project

feat: support to attributes "ProjectionExpression"
  docs/docs/guide/Scan.md
  lib/Condition.ts
  lib/DocumentRetriever.ts
  test/Query.js
  test/Scan.js
Labels: changed:source, changed:tests, changed:documentation

feat: support to attributes "ProjectionExpression"
  docs/docs/guide/Scan.md
  lib/Condition.ts
  lib/DocumentRetriever.ts
  test/Query.js
  test/Scan.js
Labels: changed:source, changed:tests, changed:documentation

eslint quote-props always
  .eslintrc.js
  lib/Document.ts
  lib/utils/merge_objects.ts
Labels: changed:source, changed:project

Adding support for nested schemas
  lib/Document.ts
  lib/Schema.ts
  lib/utils/merge_objects.ts
Labels: changed:source

Adding support for nested schemas
  lib/Document.ts
  lib/Schema.ts
  lib/utils/merge_objects.ts
Labels: changed:source

Adding tests for nested schemas
  test/Document.js
  test/Model.js
  test/Schema.js
  test/utils/merge_objects.js
Labels: changed:tests

Adding tests for nested schemas
  test/Document.js
  test/Model.js
  test/Schema.js
  test/utils/merge_objects.js
Labels: changed:tests

Adding documentation for nested schemas
  docs/docs/guide/Schema.md
Labels: changed:documentation
