Repository dynamoose/dynamoose, pull requests merged in 2018-06, with the labels that each got.

#350 added support for specifying the ReturnValues option in update
  docs/_docs/model.md
  lib/Model.js
  test/Model.js
Labels: enhancement

#333 Adding support for saveUnknown being an array
  docs/_docs/schema.md
  lib/Schema.js
  test/Schema.js
Labels: enhancement

#330 DynamoDB Document Client/DAX Support
  docs/_docs/config.md
  dynamoose.d.ts
  lib/index.js
  test/General.js
Labels: enhancement

#287 Query.all and Scan.all Delay Seconds to Milliseconds
  docs/_docs/query.md
  docs/_docs/scan.md
  lib/Query.js
  lib/Scan.js
  test/Query.js
  test/Scan.js
Labels: breaking change

#306 Adding support for SSESpecification
  docs/_docs/config.md
  dynamoose.d.ts
  lib/Table.js
  package.json
  test/Model.js
Labels: enhancement

#317 Adding updateTimestamps option to Model.save
  docs/_docs/model.md
  docs/_docs/schema.md
  dynamoose.d.ts
  lib/Attribute.js
  lib/Model.js
  lib/Schema.js
  test/Model.js
  test/fixtures/Cats.js
Labels: enhancement

#309 Improving Model.delete documentation
  docs/_docs/model.md
Labels: documentation

#331 Adding better error handling for parsing invalid data from DynamoDB
  lib/Attribute.js
  lib/errors.js
  test/Model.js
Labels: enhancement

#338 model.originalItem()
  docs/_docs/model.md
  dynamoose.d.ts
  lib/Model.js
  lib/Schema.js
  test/Model.js
Labels: enhancement, in progress

#332 Adding support for DynamoDB table streams
  docs/_docs/config.md
  lib/Table.js
Labels: enhancement
