Repository dynamoose/dynamoose, pull requests merged in 2020-04, with the labels that each got.

#789 Query no range key bug
  lib/DocumentRetriever.js
  test/Query.js
Labels: bug

#821 Set with Model.update
  lib/Model.js
  test/Model.js
Labels: bug

#780 fix(regex): allows attributes to have numeric characters
  lib/Document.js
  lib/Schema.js
  test/Schema.js
Labels: bug

#798 Query improvements
  lib/Condition.js
  lib/DocumentRetriever.js
  lib/utils/object/delete.js
  test/Query.js
  test/utils/object/delete.js
Labels: bug

#801 Changing back to behavior of dynamoose.model() without class
  BREAKING_CHANGES.md
  docs/api/Document.md
  docs/api/General.md
  docs/api/Model.md
  lib/Document.js
  lib/Model/defaults.js
  lib/Model/index.js
  lib/index.js
  test/Document.js
  test/Model.js
  test/Query.js
  test/Scan.js
  test/Schema.js
  test/Transaction.js
Labels: breaking change

#802 [ALPHA] Changing back to behavior of dynamoose.model() without class
  BREAKING_CHANGES.md
  docs/api/Document.md
  docs/api/General.md
  docs/api/Model.md
  lib/Document.ts
  lib/DocumentRetriever.ts
  lib/Model/defaults.ts
  lib/Model/index.ts
  lib/ModelStore.ts
  lib/Schema.ts
  lib/Transaction.ts
  lib/index.ts
  test/Document.js
  test/Model.js
  test/Query.js
  test/Scan.js
  test/Schema.js
  test/Transaction.js
Labels: breaking change

#823 Log/Debug Support
  docs/api/General.md
  lib/Document.js
  lib/DocumentRetriever.js
  lib/Model/index.js
  lib/Transaction.js
  lib/aws/ddb/index.js
  lib/aws/ddb/internal.js
  lib/index.js
  lib/logger/emitter.js
  lib/logger/index.js
  lib/logger/internal_providers/console.js
  lib/logger/internal_providers/index.js
  lib/logger/providers.js
  lib/logger/status.js
  lib/utils/dynamoose/index.js
  lib/utils/dynamoose/wildcard_allowed_check.js
  package-lock.json
  package.json
  test/Logger.js
  test/Model.js
  test/utils/dynamoose/wildcard_allowed_check.js
Labels: enhancement

#824 Nested condition keys fix
  lib/Condition.js
  test/Condition.js
Labels: bug

#826 Version 2.0.0 Beta 11
  package-lock.json
  package.json
Labels: version

#829 Changing set type
  BREAKING_CHANGES.md
  docs/docs/api/Schema.md
  lib/Schema.js
  test/Document.js
  test/Model.js
  test/Schema.js
Labels: breaking change

#834 Document Retriever Fix
  lib/Condition.js
  lib/DocumentRetriever.js
  lib/utils/dynamoose/convertConditionArrayRequestObjectToString.js
  lib/utils/dynamoose/index.js
  lib/utils/object/equals.js
  lib/utils/unique_array_elements.js
  test/Condition.js
  test/Query.js
  test/Scan.js
  test/utils/object/equals.js
  test/utils/unique_array_elements.js
Labels: bug
