Repository dynamoose/dynamoose, pull requests merged in 2020-11, with the labels that each got.

#1005 feat: add ConsistentRead support to Model.get
  docs/docs/guide/Model.md
  lib/Model/index.ts
  test/unit/Model.js
Labels: status:not-stale

#1009 doc(transaction): link to Model.transaction doc
  docs/docs/guide/Transaction.md
Labels: status:not-stale

#1018 dynamoose#961 Fix an issue where document.delete fails for rangeKey
  lib/Document.ts
  test/unit/Document.js
  test/unit/Model.js
Labels: status:not-stale

#991 chore(types): Update / add types for DynamoDB Transactions
  lib/Model/index.ts
  lib/Transaction.ts
  test/types/Model.ts
  test/types/Transaction.ts
Labels: status:not-stale

#1022 dynamoose#984 Add SetContructor to support Schema Sets
  lib/Schema.ts
  test/types/Schema.ts
Labels: status:not-stale

#1025 fix(model): rangeKey with 0 (Number) value shouldn't be deleted
  lib/Model/index.ts
  test/unit/Model.js
Labels: status:not-stale

#1011 feat(model): add condition to Model.delete
  docs/docs/guide/Model.md
  lib/Condition.ts
  lib/Model/index.ts
  lib/utils/object/clear_empties.ts
  lib/utils/object/index.ts
  test/unit/Condition.js
  test/unit/Model.js
  test/unit/utils/object/clear_empties.js
Labels: status:not-stale

#1033 Project Updates
  .eslintrc.js
  .github/workflows/ci.yml
  docs/docs/getting_started/Configure.mdx
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  lib/Document.ts
  lib/Model/index.ts
  lib/Populate.ts
  lib/aws/ddb/internal.ts
  lib/utils/object/equals.ts
  package-lock.json
  package.json
  test/types/.eslintrc.js
Labels: changed:documentation, changed:project, changed:source, changed:website

#1031 Bug#981 Model.get() should allow reserved keyword attributes
  lib/Model/index.ts
  test/unit/Model.js
Labels: status:not-stale

#1038 Version 2.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: changed:project

#1055 Version 2.4.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: changed:project

#1057 Nested Schema TypeScript Support
  lib/Schema.ts
  test/types/Schema.ts
Labels: changed:source, changed:tests

#1062 Make Model.waitForActive.check optional in TypeScript
  docs/docs/guide/Model.md
  lib/General.ts
  lib/Model/defaults.ts
  lib/Model/index.ts
  test/types/Model.ts
Labels: changed:documentation, changed:source, changed:tests

#1063 Model Method Settings return optional TypeScript
  lib/Model/index.ts
  test/types/.eslintrc.js
  test/types/Model.ts
Labels: changed:source, changed:tests
