Repository dynamoose/dynamoose, pull requests merged in 2020-12, with the labels that each got.

#1058 document.save Condition Support
  docs/docs/guide/Document.md
  lib/Document.ts
  test/unit/Document.js
Labels: changed:documentation, changed:source, changed:tests

#1060 dynamoose.THIS Schema TypeScript Fix
  lib/Schema.ts
  test/types/Schema.ts
Labels: changed:source, changed:tests

#1061 DynamoDB NULL Property Type Support
  docs/docs/guide/Dynamoose.md
  docs/docs/guide/Schema.md
  lib/Internal.ts
  lib/Schema.ts
  lib/index.ts
  test/unit/Document.js
  test/unit/Model.js
Labels: changed:documentation, changed:source, changed:tests

#1078 Version 2.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: changed:project

#1080 Changing issue template to refer to GH discussions
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/question.md
Labels: changed:project

#1083 Updating README as part of publish process
  publish/index.js
Labels: changed:publish

#985 Nested arrays with multiple data types
  docs/docs/guide/Schema.md
  lib/Schema.ts
  test/unit/Document.js
  test/unit/Schema.js
Labels: status:not-stale, status:waiting-for-review, type:enhancement

#1084 Fixing a bunch of issues with multiple types for attribute
  lib/Document.ts
  lib/Model/index.ts
  lib/Schema.ts
  test/unit/Document.js
  test/unit/Model.js
  test/unit/Schema.js
Labels: changed:source, changed:tests

#1087 Updating README versions
  README.md
Labels: changed:project

#1088 Making further improvements to publish system
  publish/index.js
Labels: changed:publish

#1090 Create SECURITY.md
  SECURITY.md
Labels: changed:project

#1086 Model.batchGet Attributes
  docs/docs/guide/Model.md
  lib/Model/index.ts
  test/unit/Model.js
Labels: changed:documentation, changed:source, changed:tests
