Repository dynamoose/dynamoose, pull requests merged in 2020-06, with the labels that each got.

#931 Sponsor Dynamoose
  .github/FUNDING.yml
  README.md
  SPONSOR.md
  docs/docusaurus.config.js
  package.json
Labels: changed:project, changed:website

#800 Serialization
  docs/docs/guide/Document.md
  docs/docs/guide/Model.md
  lib/Document.ts
  lib/General.ts
  lib/Model/index.ts
  lib/Serializer.ts
  lib/index.ts
  lib/utils/object/delete.ts
  lib/utils/object/pick.ts
  test/Document.js
  test/Model.js
  test/utils/object/delete.js
Labels: type:enhancement

#858 Populate
  docs/docs/guide/Document.md
  docs/docs/guide/Dynamoose.md
  docs/docs/guide/Model.md
  docs/docs/guide/Query.md
  docs/docs/guide/Scan.md
  docs/docs/guide/Schema.md
  lib/Document.ts
  lib/DocumentRetriever.ts
  lib/General.ts
  lib/Internal.ts
  lib/Model/defaults.ts
  lib/Model/index.ts
  lib/Populate.ts
  lib/Schema.ts
  lib/index.ts
  lib/utils/dynamoose/documentToJSON.ts
  lib/utils/dynamoose/getValueTypeCheckResult.ts
  lib/utils/dynamoose/index.ts
  test/Document.js
  test/Model.js
  test/Populate.js
  test/Query.js
  test/Scan.js
Labels: changed:documentation, changed:source, changed:tests, semver:minor, status:not-stale, type:enhancement-major

#937 Nested Schemas
  docs/docs/guide/Schema.md
  lib/Document.ts
  lib/Schema.ts
  lib/utils/merge_objects.ts
  test/Document.js
  test/Model.js
  test/Schema.js
  test/utils/merge_objects.js
Labels: changed:documentation, changed:source, changed:tests

#938 Multiple Types
  docs/docs/guide/Schema.md
  lib/Document.ts
  lib/Internal.ts
  lib/Model/index.ts
  lib/Populate.ts
  lib/Schema.ts
  lib/utils/dynamoose/getValueTypeCheckResult.ts
  test/Document.js
  test/Model.js
  test/Populate.js
  test/Schema.js
Labels: changed:documentation, changed:source, changed:tests

#945 Combine Type
  docs/docs/guide/Schema.md
  lib/Document.ts
  lib/Model/index.ts
  lib/Schema.ts
  test/Document.js
  test/Model.js
Labels: changed:documentation, changed:source, changed:tests

#946 Multiple Schemas per Model
  docs/docs/guide/Model.md
  lib/Document.ts
  lib/DocumentRetriever.ts
  lib/Model/index.ts
  lib/Populate.ts
  lib/Schema.ts
  lib/index.ts
  lib/utils/all_elements_match.ts
  lib/utils/dynamoose/index_changes.ts
  lib/utils/index.ts
  test/Document.js
  test/Model.js
  test/utils/all_elements_match.js
  test/utils/dynamoose/index_changes.js
Labels: changed:documentation, changed:source, changed:tests

#947 Version 2.3.0 Beta 1
  package-lock.json
  package.json
Labels: changed:project

#953 Fixing an issue where invalid values would be saved with array
  lib/Document.ts
  test/unit/Document.js
Labels: changed:source, changed:tests

#954 Fixing Windows Install Error
  package.json
Labels: changed:project
