Repository dynamoose/dynamoose, pull requests merged in 2021-12, with the labels that each got.

#1310 Version 3.0.0 Alpha 5
  package-lock.json
  package.json
Labels: changed:project

#1312 Debugging breakpoint fix
  .vscode/launch.json
  .vscode/tasks.json
  jest.config.js
  lib/Condition.ts
  lib/Item.ts
  lib/ItemRetriever.ts
  lib/Schema.ts
  package.json
Labels: changed:source, changed:project

#1316 Dynamoose Instances
  PENDING_CHANGELOG.md
  __tests__/Condition.js
  __tests__/Instance.js
  __tests__/Item.js
  __tests__/Model.js
  __tests__/Populate.js
  __tests__/Table.js
  __tests__/aws/main.js
  docs/docs/getting_started/Introduction.mdx
  docs/docs/guide/Dynamoose.md
  docs/docs/guide/Instance.md
  lib/Instance.ts
  lib/Item.ts
  lib/ItemRetriever.ts
  lib/Model/index.ts
  lib/Schema.ts
  lib/Table/index.ts
  lib/Table/utilities.ts
  lib/Transaction.ts
  lib/aws/ddb/index.ts
  lib/aws/ddb/internal.ts
  lib/aws/index.ts
  lib/index.ts
  package.json
Labels: changed:source, changed:project, changed:documentation

#1317 Table initialize
  __tests__/Table.js
  docs/docs/guide/Table.md
  docs/docs/other/FAQ.md
  jest.config.js
  lib/Table/defaults.ts
  lib/Table/index.ts
Labels: changed:source, changed:project, changed:documentation

#1315 Remove dynamic require of ModelStore in Model.ts
  lib/Model/index.ts
  lib/index.ts
Labels: changed:source

#1319 Version 3.0.0 Alpha 6
  package-lock.json
  package.json
Labels: changed:project

#1326 Version 3.0.0 Alpha 7
  package-lock.json
  package.json
Labels: changed:project

#1324 Fixing bug where nested raw conditions wouldn't work
  docs/docs/guide/Query.md
  lib/Condition.ts
  lib/DocumentRetriever.ts
  lib/utils/dynamoose/convertConditionArrayRequestObjectToString.ts
  test/unit/Condition.js
  test/unit/Query.js
  test/unit/Scan.js
Labels: type:bug, changed:source, changed:tests, changed:documentation

#1325 Fixing bug where nested raw conditions wouldn't work v3
  __tests__/Condition.js
  __tests__/Query.js
  __tests__/Scan.js
  docs/docs/guide/Query.md
  lib/Condition.ts
  lib/ItemRetriever.ts
  lib/utils/dynamoose/convertConditionArrayRequestObjectToString.ts
Labels: type:bug, changed:source, changed:documentation
