Repository dynamoose/dynamoose, pull requests merged in 2022-06, with the labels that each got.

#1412 Adding Node.js v18 to CI test suite
  .github/workflows/ci.yml
Labels: changed:project

#1413 Version 3.0.0 Beta 3
  lerna.json
  packages/dynamoose-logger/package-lock.json
  packages/dynamoose-logger/package.json
  packages/dynamoose-utils/package-lock.json
  packages/dynamoose-utils/package.json
  packages/dynamoose/package-lock.json
  packages/dynamoose/package.json
Labels: changed:project

#1414 Version 3.0.0 Beta 4
  lerna.json
  packages/dynamoose-logger/package-lock.json
  packages/dynamoose-logger/package.json
  packages/dynamoose-utils/package-lock.json
  packages/dynamoose-utils/package.json
  packages/dynamoose/package-lock.json
  packages/dynamoose/package.json
Labels: changed:project

#1415 Version 3.0.0 Beta 5
  lerna.json
  packages/dynamoose-logger/package-lock.json
  packages/dynamoose-logger/package.json
  packages/dynamoose-utils/package-lock.json
  packages/dynamoose-utils/package.json
  packages/dynamoose/package-lock.json
  packages/dynamoose/package.json
Labels: changed:project

#1417 Copying README to package folders
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  publish/copy-readme.js
Labels: changed:publish, changed:project

#1419 General updates
  .nvmrc
  PENDING_CHANGELOG.md
  docs/docs_src/internal/Publishing.md
  docs/package-lock.json
  docs/package.json
  docs/process.js
  docs/sidebars.js
  docs/src/css/custom.css
  jest.config.js
  packages/dynamoose/package-lock.json
  packages/dynamoose/package.json
Labels: changed:website, changed:project

#1420 `item.withDefaults()`
  PENDING_CHANGELOG.md
  docs/docs_src/guide/Item.md
  packages/dynamoose/lib/Item.ts
  packages/dynamoose/test/Item.js
Labels: changed:project

#1427 Fix Source Map Parser
  .github/workflows/source-map-parser.yml
  utils/source-map-stacktrace-parser/index.js
Labels: changed:project

#1426 Bump CodeQL action to v2
  .github/workflows/codeql-analysis.yml
Labels: changed:project
